body{
    display:flex;
    flex-direction: column;
}

.header{
    flex: 1;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 48px;
    gap: 48px;
}

.headerContent{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.leftHeader{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
    
}

.rightHeader{
    flex: 1;
    background-color: grey;
    height: 250px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.bigLogo{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.headerSubtext{
    flex-wrap: wrap;
    font-weight: 400;
    color: #E5E7EB;
}

.topBar{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
}

.logo{
    color: #F9FAF8;
}

.links{
    display: flex;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    max-width: 100px;
}

.signUp{
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

.infoSection{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 48px;
    padding-left: 100px;
    padding-right: 100px;
}

.infoTitle{
    align-self: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 36px;
}

.infoContent{

    display: flex;
    justify-content: space-between;
}

.content-box{
    max-width: 200px;
}

.infoImage{
    border: 5px solid royalblue;
    width: 100px;
}

.infoText{
    font-size: 18px;
}

.quoteSection{
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #E5E7EB;
    
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quoteBy{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
}

.actionSection{
    display: flex;
    
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    align-items: center;
}

.actionContainer{
    display: flex;
    flex: 1;
    height: 200px;
    border-radius: 8px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
}

.actionTitle{
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

.actionText{
    font-size: 16px;
    flex-wrap: wrap;
    font-weight: 400;
    color: #E5E7EB;
}

.signUp.bigger{
    flex: 1;
    font-size: 24px;
    font-weight: 800;
    max-width: 200px;
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-width: 2px;
}



.footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
  }